@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    padding: 50px 0;
    background-color: #fff3ec;
}

body,
h1 {
    color: #4b4668;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

header {
    margin-bottom: 70px;
    position: relative;
    min-height: 90px;
}

.img-questions {
    max-width: 120px;
    width: 30%;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
}

.img-questions:hover {
    transition: visibility .15s linear, opacity .15s linear;
    opacity: 1;
    visibility: visible;
}


/*Respuestas verdaderas y falsas*/

.checkAnswers h3 {
    font-family: 'Pathway Gothic One', sans-serif;
    opacity: .8;
    filter: alpha(opacity=80);
    font-size: 20px;
}

.checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}

.correct,
.false {
    background-color: #109D59;
    width: 60px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}

.false {
    background-color: #DC4437;
}

.content {
    background-color: #fff;
    padding: 20px 20px 90px;
    box-shadow: 4px 6px 38px hsla(0, 100%, 79%, .3);
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.content .progress-container {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
}

.content .progress-container .progress-label {
    padding: 0 0 6px;
    text-align: left;
}

.btn-huge {
    background-color: #edecf0;
    color: #4b4668;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
    border: 1px solid #4b4668;
    padding: 6px 44px 6px 14px;
    width: 100%;
    text-align: left;
    transition: background-color .3s linear, border-color .3s linear, color .3s linear;
}

.btn-huge .letter {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 3px 8px 4px;
    background-color: #4b4668;
    color: #fff;
    margin-right: 8px;
    position: relative;
    top: -4px;
    border-radius: 3px;
}


/*botones*/

.btn-cont {
    margin-top: 5%;
}

.btn-cont button {
    border: 2px solid #000 !important;
    background-color: #e9e6fe;
    margin-top: 10%;
    width: 100%;
}

.btn-cont button:hover {
    background-color: #d0c9ff;
}


/* footer */

.btn-social {
    margin-top: 50px;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #FA411A;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
}

a {
    background-color: #D3D3D3;
}